In [34]:
import snsql
from snsql import Privacy
import pandas as pd
from pandasql import sqldf
import time
import numpy as np
import pandas as pd
import random

In [3]:
csv_path = 'aac_intakes_outcomes-Copy1.csv'
dat = pd.read_csv(csv_path)

In [4]:
new_df = dat[['intake_year',
              'age_upon_outcome', 
              'animal_id_outcome',
              'outcome_subtype',
              'outcome_type',
              'sex_upon_outcome',
              'age_upon_outcome_(days)',
              'age_upon_outcome_(years)',
              'outcome_datetime',
              'outcome_weekday',
              'outcome_number',
              'age_upon_intake',
              'animal_id_intake',
              'animal_type',
              'breed',
              'color',
              'found_location',
              'intake_condition',
              'intake_type',
              'sex_upon_intake',
              'age_upon_intake_(days)',
              'age_upon_intake_(years)',
              'intake_datetime',
              'intake_weekday',
              'time_in_shelter_days',
              'intake_month'
             ]]

In [5]:
new_df = new_df[new_df['animal_type'] == 'Dog']
new_df = new_df[new_df['intake_year'] == 2017]

In [6]:
new_df

,intake_year,age_upon_outcome,animal_id_outcome,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),outcome_datetime,outcome_weekday,...,found_location,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),age_upon_intake_(years),intake_datetime,intake_weekday,time_in_shelter_days,intake_month
0,2017,10 years,A006100,NaN,Return to Owner,Neutered Male,3650,10.000000,2017-12-07 14:07:00,Thursday,...,Colony Creek And Hunters Trace in Austin (TX),Normal,Stray,Neutered Male,3650,10.000000,2017-12-07 00:00:00,Thursday,0.588194,12
36,2017,18 years,A251402,NaN,Return to Owner,Spayed Female,6570,18.000000,2017-10-23 11:32:00,Monday,...,2905 French Place in Austin (TX),Normal,Stray,Spayed Female,6570,18.000000,2017-10-22 18:41:00,Sunday,0.702083,10
58,2017,17 years,A285685,NaN,Return to Owner,Neutered Male,6205,17.000000,2017-04-13 11:56:00,Thursday,...,1704 Nelms Dr #1925 in Austin (TX),Normal,Stray,Neutered Male,6205,17.000000,2017-04-12 16:04:00,Wednesday,0.827778,4
63,2017,15 years,A291843,NaN,Return to Owner,Neutered Male,5475,15.000000,2017-12-12 13:31:00,Tuesday,...,Austin (TX),Normal,Public Assist,Neutered Male,5475,15.000000,2017-12-09 02:11:00,Saturday,3.472222,12
71,2017,15 years,A297699,NaN,Return to Owner,Neutered Male,5475,15.000000,2017-11-20 15:58:00,Monday,...,Westgate in Austin (TX),Aged,Stray,Neutered Male,5475,15.000000,2017-11-20 08:11:00,Monday,0.324306,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77137,2017,1 year,A764534,NaN,Adoption,Spayed Female,365,1.000000,2018-01-05 16:55:00,Friday,...,Walnut Drive East And Georgian Drive in Austin...,Normal,Stray,Intact Female,365,1.000000,2017-12-31 16:29:00,Sunday,5.018056,12
77138,2017,1 year,A764535,Partner,Transfer,Intact Male,365,1.000000,2018-01-04 15:10:00,Thursday,...,124 West Anderson Lane in Austin (TX),Normal,Stray,Intact Male,365,1.000000,2017-12-31 16:54:00,Sunday,3.927778,12
77139,2017,2 months,A764536,Foster,Adoption,Spayed Female,60,0.164384,2018-01-25 17:34:00,Thursday,...,7Th Street And Chicon in Austin (TX),Normal,Stray,Intact Female,30,0.082192,2017-12-31 17:05:00,Sunday,25.020139,12
77140,2017,3 months,A764537,Foster,Adoption,Intact Male,90,0.246575,2018-02-13 16:13:00,Tuesday,...,924 E 51St in Austin (TX),Injured,Stray,Intact Male,30,0.082192,2017-12-31 07:26:00,Sunday,44.365972,12
77584,2017,2 years,A765283,NaN,Adoption,Intact Male,730,2.000000,2017-11-05 17:05:00,Sunday,...,Crazyhorse Pass And Whitebead Trail in Travis ...,Sick,Stray,Intact Male,730,2.000000,2017-10-31 12:12:00,Tuesday,5.203472,10

In [7]:
new_df = new_df.drop(['animal_type', 'intake_year'], axis=1)

In [23]:
query = """
SELECT DATE(intake_datetime) AS dt, COUNT(*) AS ct 
FROM new_df 
GROUP BY DATE(intake_datetime)
HAVING DATE(intake_datetime) >= '2017-01-01'
"""
real_date_counts = sqldf(query)
real_date_counts

             dt  ct
0    2017-01-01  22
1    2017-01-02  38
2    2017-01-03  43
3    2017-01-04  15
4    2017-01-05  21
..          ...  ..
360  2017-12-27  27
361  2017-12-28  21
362  2017-12-29  24
363  2017-12-30  33
364  2017-12-31  29

[365 rows x 2 columns]

In [40]:
def add_dummy_records(df):
    
    start_date = '2017-01-01'
    end_date = '2017-12-31'
    data = df.sample(9851)
    # Get the list of possible values for each column
    age_upon_outcome_values = list(data["age_upon_outcome"])
    animal_id_outcome_values = list(data["animal_id_outcome"])
    outcome_subtype_values = list(data["outcome_subtype"])
    outcome_type_values = list(data["outcome_type"])
    sex_upon_outcome_values = list(data["sex_upon_outcome"])
    age_upon_outcome_days_values = list(data["age_upon_outcome_(days)"])
    age_upon_outcome_years_values = list(data["age_upon_outcome_(years)"])
    outcome_datetime_values = list(data["outcome_datetime"])
    outcome_weekday_values = list(data["outcome_weekday"])
    outcome_number_values = list(data["outcome_number"])
    age_upon_intake_values = list(data["age_upon_intake"])
    animal_id_intake_values = list(data["animal_id_intake"])
    breed_values = list(data["breed"])
    color_values = list(data["color"])
    found_location_values = list(data["found_location"])
    intake_condition_values = list(data["intake_condition"])
    intake_type_values = list(data["intake_type"])
    sex_upon_intake_values = list(data["sex_upon_intake"])
    age_upon_intake_days_values = list(data["age_upon_intake_(days)"])
    age_upon_intake_years_values = list(data["age_upon_intake_(years)"])
    intake_weekday_values = list(data["intake_weekday"])
    time_in_shelter_days_values = list(data["time_in_shelter_days"])
    intake_month_values = list(data["intake_month"])
    
    for date in pd.date_range(start_date, end_date):
        laplace_int = abs(int(np.random.laplace(0, 4, size=1)[0]))
        
         
    
        
        for i in range(laplace_int):
            
            age_upon_outcome = random.choices(age_upon_outcome_values, k=1)[0]
            animal_id_outcome = random.choices(animal_id_outcome_values, k=1)[0]
            outcome_subtype = random.choices(outcome_subtype_values, k=1)[0]
            outcome_type = random.choices(outcome_type_values, k=1)[0]
            sex_upon_outcome = random.choices(sex_upon_outcome_values, k=1)[0]
            age_upon_outcome_days = random.choices(age_upon_outcome_days_values, k=1)[0]
            age_upon_outcome_years = random.choices(age_upon_outcome_years_values, k=1)[0]
            outcome_datetime = random.choices(outcome_datetime_values, k=1)[0]
            outcome_weekday = random.choices(outcome_weekday_values, k=1)[0]
            outcome_number = random.choices(outcome_number_values, k=1)[0]
            age_upon_intake = random.choices(age_upon_intake_values, k=1)[0]
            outcome_datetime = random.choices(outcome_datetime_values, k=1)[0]
            outcome_weekday = random.choices(outcome_weekday_values, k=1)[0]
            outcome_number = random.choices(outcome_number_values, k=1)[0]
            age_upon_intake = random.choices(age_upon_intake_values, k=1)[0]
            animal_id_intake = random.choices(animal_id_intake_values, k=1)[0]
            breed = random.choices(breed_values, k=1)[0]
            color = random.choices(color_values, k=1)[0]
            found_location = random.choices(found_location_values, k=1)[0]
            intake_condition = random.choices(intake_condition_values, k = 1)[0]
            intake_type = random.choices(intake_type_values, k = 1)[0]
            sex_upon_intake = random.choices(sex_upon_intake_values, k = 1)[0]
            age_upon_intake_days = random.choices(age_upon_intake_days_values, k = 1)[0]
            age_upon_intake_years = random.choices(age_upon_intake_years_values, k = 1)[0]
            intake_weekday = random.choices(intake_weekday_values, k = 1)[0]
            time_in_shelter_days = random.choices(time_in_shelter_days_values, k = 1)[0]
            intake_month = random.choices(intake_month_values, k = 1)[0]
            
            data_to_append = {
            'intake_datetime': start_date + '00:00:00',
            'age_upon_outcome': age_upon_outcome,
            'animal_id_outcome': animal_id_outcome,
            'outcome_subtype': outcome_subtype,
            'outcome_type': outcome_type,
            'sex_upon_outcome': sex_upon_outcome,
            'age_upon_outcome_(days)': age_upon_outcome_days,
            'age_upon_outcome_(years)': age_upon_outcome_years,
            'outcome_datetime': outcome_datetime,
            'outcome_weekday': outcome_weekday,
            'outcome_numnber': outcome_number,
            'age_upon_intake': age_upon_intake,
            'animal_id_intake': animal_id_intake,
            'breed': breed,
            'color': color,
            'found_location': found_location,
            'intake_condition': intake_condition,
            'intake_type': intake_type,
            'sex_upon_intake': sex_upon_intake,
            'age_upon_intake_(days)': age_upon_intake_days,
            'age_upon_intake_(years)': age_upon_intake_years,
            'intake_weekday': intake_weekday,
            'time_in_shelter_days': time_in_shelter_days,
            'intake_month': intake_month
        }
            
            data = data.append(data_to_append, ignore_index = True)
            
            
            
    
    
    return data


data = add_dummy_records(new_df)

data

,age_upon_outcome,animal_id_outcome,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),outcome_datetime,outcome_weekday,outcome_number,...,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),age_upon_intake_(years),intake_datetime,intake_weekday,time_in_shelter_days,intake_month,outcome_numnber
0,1 year,A741554,NaN,Adoption,Neutered Male,365,1.000000,2017-01-08 17:05:00,Sunday,1.0,...,Normal,Stray,Intact Male,365,1.000000,2017-01-03 17:17:00,Tuesday,4.991667,1,NaN
1,2 years,A742520,NaN,Return to Owner,Spayed Female,730,2.000000,2017-01-23 18:09:00,Monday,1.0,...,Normal,Stray,Spayed Female,730,2.000000,2017-01-23 11:47:00,Monday,0.265278,1,NaN
2,7 months,A735315,NaN,Adoption,Neutered Male,210,0.575342,2017-12-11 15:30:00,Sunday,1.0,...,Normal,Owner Surrender,Neutered Male,365,1.000000,2016-10-23 12:05:00,Monday,414.142361,12,NaN
3,1 year,A755500,NaN,Return to Owner,Spayed Female,365,1.000000,2017-11-28 13:18:00,Tuesday,1.0,...,Normal,Public Assist,Spayed Female,365,1.000000,2017-11-17 14:25:00,Friday,10.953472,11,NaN
4,2 years,A764026,NaN,Return to Owner,Intact Female,730,2.000000,2017-12-21 10:35:00,Thursday,2.0,...,Normal,Stray,Intact Female,730,2.000000,2017-12-20 13:13:00,Wednesday,0.890278,12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11151,10 years,A760960,NaN,Return to Owner,Intact Female,2920,2.000000,2018-01-23 00:00:00,Saturday,NaN,...,Normal,Owner Surrender,Intact Male,2555,0.739726,2017-01-0100:00:00,Wednesday,5.018750,11,1.0
11152,8 months,A743549,Partner,Adoption,Spayed Female,30,0.082192,2017-01-09 15:22:00,Friday,NaN,...,Normal,Stray,Intact Female,365,4.000000,2017-01-0100:00:00,Wednesday,4.053472,7,1.0
11153,1 year,A743091,NaN,Return to Owner,Intact Male,3285,10.000000,2017-08-23 16:41:00,Monday,NaN,...,Normal,Stray,Intact Male,1095,6.000000,2017-01-0100:00:00,Monday,0.593750,10,3.0
11154,4 years,A755690,NaN,Transfer,Intact Female,730,0.246575,2017-11-01 16:47:00,Tuesday,NaN,...,Normal,Stray,Spayed Female,730,1.000000,2017-01-0100:00:00,Monday,102.984722,7,2.0
11155,2 years,A747353,NaN,Adoption,Spayed Female,240,2.000000,2017-06-23 14:54:00,Tuesday,NaN,...,Normal,Stray,Intact Female,60,2.000000,2017-01-0100:00:00,Tuesday,7.265972,7,1.0